[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = 10.0.0.1/24
ListenPort = {{ wireguard_port }}
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ansible_default_ipv4.interface}} -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ansible_default_ipv4.interface}} -j MASQUERADE
