{% extends 'sample.html' %}

{% block title %}

{% endblock %}




{% block content %}
<div class="container ">
<table class="table table-hover table-dark">
  <thead>
    <tr>
        <th class="text-center">Разделы</th>
        <th class="text-center">Постов</th>
        <th class="text-center">Тем</th>
        <th class="text-center">Последнее сообщение</th>
    </tr>
  </thead>
  <tbody>
    {% for board in board %}
    <tr onclick="document.location = '{% url 'topic' board.id %}';">
        <td class="text-center">{{ board.name }}
        <small class="text-muted d-block text-center">{{ board.description }}</small></td>
        <td class="align-middle text-center">0</td>
        <td class="align-middle text-center">0</td>
        <td class="align-middle text-center">0</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}