{% extends 'sample.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

  </div>
{% endblock %}