{% extends 'sample.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div class="container ">
<form method="post">
  {% csrf_token %}
  {% if error == 2 %}
  <div class="alert alert-danger"> Все поля должны быть заполнены </div>
  {% endif %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Тема</label>
    <input class="form-control" id="theme_topic" name="theme">
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">Вопрос</label>
    <textarea class="form-control" id="text_topic" name="message" rows="4"></textarea>
  </div>

  <button type="submit" class="btn btn-success">Отправить</button>
</form>
</div>
{% endblock %}