{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container ">
<header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Подписаться</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/">Devops</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
        {% if user.is_authenticated %}
            <a class="btn btn-sm btn-outline-secondary" href="/logout">{{user.username}}</a>
        {% else %}
             <a class="btn btn-sm btn-outline-secondary" href="/login">Войти</a>
        {% endif %}
          </div>
        </div>
      </header>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">Linux</a>
          <a class="p-2 text-muted" href="#">Docker</a>
          <a class="p-2 text-muted" href="#">Kubernetes</a>
          <a class="p-2 text-muted" href="#">Ansible</a>
          <a class="p-2 text-muted" href="#">Python</a>
          <a class="p-2 text-muted" href="#">Monitoring</a>
          <a class="p-2 text-muted" href="#">Железки</a>
          <a class="p-2 text-muted" href="#">Обучение</a>
          <a class="p-2 text-muted" href="/board">Форум</a>
        </nav>
      </div>
</div>
{% block content %}



{% endblock %}
</body>
</html>