{% extends 'sample.html' %}

{% block title %}

{% endblock %}

{% block content %}
  <button onclick="location.href='{% url 'new_topic' board.id %}';" type="submit" class="btn btn-success">Создать тему</button>


<div class="container ">
<table class="table table-hover table-dark">
  <thead>
    <tr>
        <th class="text-center">Описание</th>
        <th class="text-center">Автор</th>
        <th class="text-center">Дата создания</th>
        <th class="text-center">Сообщений</th>
    </tr>
  </thead>
  <tbody>
    {% for topic in topic %}
    {% if topic.board == board %}
    <tr onclick="document.location = '{% url 'topic' board.id %}';">
        <td class="text-center">{{ topic.subject }}
        <td class="align-middle text-center">{{ topic.starter }}</td>
        <td class="align-middle text-center">{{ topic.last_updated }}</td>
        <td class="align-middle text-center">0</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</div>

{{ topic.subject }}
{{ topic.last_updated }}




{% endblock %}